<html layout:decorate="~{layout/base}">
<div layout:fragment="content">
    <!-- title -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">NEWS</h1>
    </div>

    <div class="container-fluid">
        <!-- 뉴스 카드 목록-->
        <div class="row">
            <div class="col-lg-6" th:each="news, newsIndex : ${newsList}">
                <!-- 카드 -->
                <div class="card shadow mb-4" th:id="'treadingNewsCard_' + ${newsIndex.index}">
                    <div class="collapse show">
                        <!-- 뉴스 카드 헤더 -->
                        <div class="card-header">
                            <span th:text="${news.newsTitle}"></span>

                            <!-- 원문 뉴스 링크 -->
                            <a th:href="${news.newsUrl}" target="_blank" class="btn btn-info btn-light btn-sm">
                                <i class="fas fa-info-circle fa-lg"></i>
                            </a>
                            <!-- 원문 뉴스 신문사 -->
                            <!-- <div class="btn bg-" th:text="${news.newspaperName}"></div> -->
                            <span class="badge badge-pill float-center badge-dark"><span th:text="${news.newspaperName}"></span></span>
                        </div>

                        <!-- 연관된 뉴스 목록 -->
                        <div class="card-body" th:each="article : ${news.relatedArticles}">
                            <a th:href="${article.articleUrl}" target="_blank" th:text="${article.articleTitle}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                const newsCards = document.querySelectorAll(".card"); // 모든 뉴스 카드 요소
                const filterButtons = document.querySelectorAll(".badge-pill span"); // 언론사 버튼들

                filterButtons.forEach(function (button) {
                    button.addEventListener("click", function () {
                        const filterValue = this.getAttribute("data-filter"); // 선택한 언론사의 데이터 필터 값
                        newsCards.forEach(function (card) {
                            card.style.display = "none"; // 모든 뉴스 카드 숨김
                        });
                        if (filterValue === "all") {
                            newsCards.forEach(function (card) {
                                card.style.display = "block"; // 전체 뉴스 카드 표시
                            });
                        } else {
                            const filteredCards = document.querySelectorAll(`[data-filter="${filterValue}"]`);
                            filteredCards.forEach(function (card) {
                                card.style.display = "block"; // 선택한 언론사 카드만 표시
                            });
                        }
                    });
                });
            });
    </script>
</div>
</html>